@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
      <label for="fname">Donne moi un cadeau</label>
      <input type="text" id="cadeau" name="cadeau"><br><br>
      <input type="submit" value="Merci">
</form>